
  #Title {
    margin: 20px 0px 20px 0px;
    padding-bottom: 20px;
    border-bottom: solid 1px rgb(46, 0, 0) ; 
  }
  
  .package-list {
    border-collapse: collapse;
    border: 1px solid #666;
  }
  
  th {
    border: 1px solid #666;
    padding: 0.5em;
    background-color: #a3a3a3;
  }
  
  th.pkg-n {
    width: 25%;
  }
  th.pkg-v {
    width: 25%;
  }
  th.pkg-up {
    width: 20%;
  }
  th.show-hide {
    width: 5%;
  }
  th.up-his {
    width: 25%;
  }
  
  td {
    border: 1px solid #666;
    padding: 0.5em;
  }

  .versions {
    display: none;
    border-top: 1px dotted #A6A6A6;
    padding-top: 10px;
  }

  .versions dt {
    float: left;
    clear: left;
  }
  .versions dd {float: Left;}

  .close {
   display: none;
  }

  .open,.close {
    float: right;
    text-decoration: none;
    color: #fff;
    position:relative;
    background: #E2503C;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    border-radius: 50%;
    width: 20px;
    height: 20px;
    text-align: center;
    line-height: 20px;
  }